*gcpcreds.json
*settings.cfg
FinishedSampleCode/gcpcreds.json
FinishedSampleCode/settings.cfg
FinishedSampleCode/Web/static/css/.DS_Store
venv/
pyv/
Web/static/css/.DS_Store
.vscode/settings.json
*.pyc
images/.DS_Store
.idea*
*.swp
